.footer {
    background-color: $color-primary-dark;
    color: $color-grey-light-1;
    font-size: 1.4rem;
    padding: 3rem 0 3rem 0;

    @include respond(tab-port) {
        padding: 8rem 0 3rem 0;
    }

    &__social-box {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0 !important; // TODO: Fix this.
    }

    &__social-icon {
        color: $color-white;
        font-size: 5rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: $color-primary;
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }

        @include respond(phone) {
            margin-top: 6rem;
        }
    }

    &__logo {
        height: auto;
        width: 50%;

        @include respond(tab-port) {
            width: 75%;
        }
    }

    &__logo-text {
        font-family: 'Dancing Script', cursive;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 1rem;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__navigation {
        // border-top: .1rem solid $color-grey-dark-1;
        display: inline-block;
        padding-top: 2rem;

        @include respond(tab-port) {
            line-height: 4rem;
            text-align: center;
            width: 100%;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            background-color: $color-primary-dark;
            color: $color-grey-light-1;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            color: $color-primary;
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        // border-top: .1rem solid $color-grey-dark-1;
        display: inline-block;
        float: right;
        padding-top: 2rem;

        @include respond(tab-port) {
            float: none;
            text-align: center;
            width: 100%;
        }
    }
}